body { margin: 0; 

}

h1{
	padding-left: 20px;

}

nav {
	background-color: lightgrey;
 	width: 100%;

}

.glogo{ 
		display: inline-block;

 }
nav ul{
	display: inline-block;
	list-style: none;
	font-size: 140%;
	position: absolute;
	right: 10px;
	word-spacing: 20px;
}

nav li{
	display: inline-block;
}


main{
	padding-left: 20px;
	margin: 0;

	
}


.search-field{
	padding-top: 3px;
	padding-left: 1px;
	text-align: left;
	border-radius: 1px;
	width: 50%;
	padding: 6px;
}

.search-button {
	display: inline-block;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	width: 28px;
	vertical-align: bottom;

}

form{ 
	padding-top: 30px;
	padding-left: 60px;
	padding-bottom: 60px;
 }



div{ 
	display: inline-block; 
	padding: 5px;
	padding-top: 10px;
	border: 1px solid #DDDDDD;
	position: relative;
	left: 62px;

}

.listings {
	padding-top: 30px;
	position:relative;
 	left:25px;
}

.listing {
  list-style: none;
  margin-bottom: 15px;
}

.listing-date,
.listing-location {
  color: #999;
}

.listing-title {
  font-weight: 700;
  margin-left: 20px;
  margin-right: 8px;

}

a:link {
    text-decoration: none;
}

